@import 'tailwindcss';

@theme {
  --color-bot-primary: #0088ff;
  --color-bot-secondary: #ff8d28;
  --color-bot-success: #27c840;
  --color-bot-danger: #ff5f57;
  --color-bot-grey-100: #f5f5f5;
  --color-bot-grey-300: #d9d9d9;
  --color-bot-grey-500: #999;
  --color-bot-grey-800: #555;
}
