@tailwind base;
@tailwind components;
@tailwind utilities;

/* Убираем стандартные отступы и заставляем body занимать весь экран */
body {
  @apply bg-tg-bg text-tg-text antialiased min-h-screen m-0 p-0;
}
