@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bot-primary: #0088ff;
  --color-bot-primary-dark: #66b8ff;

  --color-bot-secondary: #ff8d28;

  --color-bot-success: #27c840;

  --color-bot-danger: #ff5f57;

  --shadow-sm: 0 0px 3px 0 rgba(153, 161, 175, 0.4);
  --shadow-sm-dark: 0 0px 3px 0 rgba(0, 0, 0, 0.4);
}

:root {
  --tg-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif;
}

body {
  font-family: var(--tg-font-family);
  -webkit-font-smoothing: antialiased;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-in {
  animation: fadeIn 0.2s ease-out forwards;
}
